page-home {
	.toolbar-background-md{
		background-color : #080d75;
	}
	.title{
		color : white;
		text-align: center;
	}
	.content {
		background-color : #5277A8;
	}
	.content h3, .btn-center, #rootDiv h4{
		text-align: center;
	}
}
